<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="This is the home page for Salon Portal">
    <meta name="author" content="">

    <title>Salon Portal</title>
    <link rel = "stylesheet"   type = "text/css"   href = "public/css/home.css" />        
</head>
<body>
	<header>
        <div id="salon_bar">
            <nav class="navbar navbar-inverse">
                <div id="tabs" class="container-fluid">
                    <ol class="nav navbar-nav">
                        <li  style="display:inline;"><a href="#">Sign Up</a></li>
                        <li style="display:inline;"><a href"#">Terms and Conditions</a></li>
                        <li  style="display:inline;"><a href="#">About</a></li>
                        <li  style="display:inline;"><a href="#">Contact Us</a></li>
                        <li class="active"  style="display:inline;"><a href="#">Home</a></li>
                    </ol>
                </div>
            </nav>
        </div>       
    </header>
    <div id="container_demo">
         <img src="logo.png" alt="logo">
    </div>
    <div id="login" class="animate form">
                <form  action="" autocomplete="on"> 
                    <h2>Customer Sign Up</h2> 
                    <div id="boxes">
                    <p> 
				    	<label for="uname" class="uname" data-icon="u" > Your name </label>
					    <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
				    </p>
                    <p> 
                        <label for="phone" class="pnhone" data-icon="u" > Your Phone </label>
                        <input id="phone" name="phone" required="required" type="number" placeholder="+1 222 222 2222"/>
                    </p>
                    <p> 
                        <label for="email" class="email" data-icon="u" > Your email</label>
                        <input id="email" name="email" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                    </p>
                    <p> 
                        <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                        <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                    </p>
                    <p> 
                        <label for="" class="youpasswd" data-icon="p"> Confirm password </label>
                        <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="number" placeholder="eg. X8df!90EO"/>
                    </p>
                    </div>
                    <p class="sign up button"> 
                        <input type="submit" value="Sign up"/> 
                    </p>
                    <p class="change_link">  
                        Already a member ?
                        <a href="#tologin" class="to_register"> Go and log in </a>
                    </p>
		    	</form>
		    </div>
</body>

</html>
