<!DOCTYPE html>
<html lang="en"> 

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="This is the home page for Salon Portal">
    <meta name="author" content="">

    <title>Salon Portal</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel = "stylesheet"   type = "text/css"   href = "public/css/home.css" />        
</head>

<body>
	<header>
        <div id="salon_bar">
            <nav class="navbar navbar-inverse">
                <div id="tabs" class="container-fluid">
                    <ol class="nav navbar-nav">
                        <li  style="display:inline;"><a href="#">Sign Up</a></li>
                        <li style="display:inline;"><a href"#">Terms and Conditions</a></li>
                        <li  style="display:inline;"><a href="#">About</a></li>
                        <li  style="display:inline;"><a href="#">Contact Us</a></li>
                        <li class="active"  style="display:inline;"><a href="#">Home</a></li>
                    </ol>
                </div>
            </nav>
        </div>       
    </header>
    <div id="container_demo">
         <img src="logo.png" alt="logo">
    </div>
    <div id="container">
        <div id="left">
    <div id="salon" class="animate form">

        <h2>Scissors and Razors</h2>
        <p>Scissors and Razors Salon is located in Hoboken, NJ. The salon offers services
            like hairdressing, hair extension and nail art. Other services include shampooing, conditioning
            and blow drying and are also expert in hair coloring and styling.</p>
        <h3>Address</h3>
        <p>Washington Street, Hoboken</p>
        <h3>Timings</h3>
        <p>10 a.m to 7 p.m.</p>
        <h3>Stylists</h3>
                <div id="listing">
        <ul>
            <li>Helen Amber</li>
            <li>Susan Drew</li>
            <li>Sherry Yang</li>
        </ul>
        </div>
        <h3>Services</h3>
                <div id="listing">
        <ul>
            <li>haircut - 70$ </li>
            <li>hair color - 150$ </li>
            <li>highlights -120$ </li>
        </ul>
        </div>
        <h3>Overall Rating:4.5<h3>   
        <br>
        <br>
        <h3>Reviews<h3>
        <div>
        <p>Customer Name: Ronald Weasley</p>
        <p>Review: The SMARTEST hair stylists and colorists in Hoboken.</p>
        </div>
        <br>
        <div>
        <p>Customer Name: Hermione Granger</p>
        <p>Review: I LOVE LOVE LOVE my new haircut and style!”</p>
        </div>
        <br>
        <div>
        <p>Customer Name: Draco Malfoy</p>
        <p>Review: This is a truly lovely salon.</p>
        </div>
    <div  class="animate form">
        <form  action="" autocomplete="on"> 
                        <p>
                            <label for="stars"><h3>Rating</h3></label>
                            <div class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="star"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star"/>
                            <label class="star star-1" for="star-1"></label>
            </p>
            <label for="review" class="uname"  ><h3> Write a Review </h3></label>
            <input id="review" name="review" required="required" style="width:500px; height: 150px;"></input>
            <p> 
                <input type="submit" value="Submit Review"/> 
            </p>                
		</form>
    	</div>           
        </div>
</div>
        </div>
        </div>
        <div id="right">

        <table>
        <tr>
        <td> 
                    <a target="_blank" href="salon1.jpg">
        <img src="salon1.jpg" alt="salon1">
        </a></td>
        <td> 
                    <a target="_blank" href="salon2.jpg">
        <img src="salon2.jpg" alt="salon2">
        </a></td>
        <td> 
            <a target="_blank" href="salon3.jpg">
  <img src="salon3.jpg" alt="salon3">
</a></td>
</tr>
<tr>
<td>
      <a target="_blank" href="salon4.jpg">
      <img src="salon4.jpg" alt="salon4">
</a>
</td>
<td> 
      <a target="_blank" href="salon5.jpg">
      <img src="salon5.jpg" alt="salon5">
</a>
</td>
<td>
      <a target="_blank" href="salon6.jpg">
      <img src="salon6.jpg" alt="salon6">
</a></td>
</tr>
</table>
</div>
</div>
	    <footer>
        This website is a project for CS 546 WS 2017 &copy Copyright 2017 Salon Portal Team
        <div id="right";>
        <a href="#">Contact Us</a>
        </div>
</footer>
</body>
</html>
