<div id="container">
    <div id="left">
        <div id="salon" class="animate form">

            <h2>{{saloonName}}</h2>
            <p>Scissors and Razors Salon is located in Hoboken, NJ. The salon offers services like hairdressing, hair extension
                and nail art. Other services include shampooing, conditioning and blow drying and are also expert in hair
                coloring and styling.</p>
            <h3>Address</h3>
            <p>{{address}}</p>
            <h3>Timings</h3>
            <p>10 a.m to 7 p.m.</p>
            <h3>Stylists</h3>
            <div class="listing">
                <ul>
                    <li>Helen Amber</li>
                    <li>Susan Drew</li>
                    <li>Sherry Yang</li>
                </ul>
            </div>
            <h3>Services</h3>
            <div class="listing">
                <ul>
                    <li>haircut - 70$ </li>
                    <li>hair color - 150$ </li>
                    <li>highlights -120$ </li>
                </ul>
            </div>
            <h3>Overall Rating:4.5</h3>
            <br>
            <br>
            <h3>Reviews</h3>
            <div>
                <p>Customer Name: Ronald Weasley</p>
                <p>Review: The SMARTEST hair stylists and colorists in Hoboken.</p>
            </div>
            <br>
            <div>
                <p>Customer Name: Hermione Granger</p>
                <p>Review: I LOVE LOVE LOVE my new haircut and style!”</p>
            </div>
            <br>
            <div>
                <p>Customer Name: Draco Malfoy</p>
                <p>Review: This is a truly lovely salon.</p>
            </div>
            <div class="animate form">
                <form action="" autocomplete="on">
                    <p>
                        <label for="stars">Rating</label>
                        <div id="stars" class="stars">
                            <input class="star star-5" id="star-5" type="radio" name="star" />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" />
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" />
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" />
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" />
                            <label class="star star-1" for="star-1"></label>
                        </div>

                        <label for="review" class="uname"> Write a Review </label>
                        <input id="review" name="review" required="required" style="width:500px; height: 150px;">
                        <p>
                            <input type="submit" value="Submit Review" />
                        </p>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="right">

    <table>
        <tr>
            <td>
                <a target="_blank" href="/public/SalonImages/salon1.jpg">
        <img src="/public/SalonImages/salon1.jpg" alt="salon1">
        </a></td>
            <td>
                <a target="_blank" href="/public/SalonImages/salon2.jpg">
        <img src="/public/SalonImages/salon2.jpg" alt="salon2">
        </a></td>
            <td>
                <a target="_blank" href="/public/SalonImages/salon3.jpg">
  <img src="/public/SalonImages/salon3.jpg" alt="salon3">
</a></td>
        </tr>
        <tr>
            <td>
                <a target="_blank" href="/public/SalonImages/salon4.jpg">
      <img src="/public/SalonImages/salon4.jpg" alt="salon4">
</a>
            </td>
            <td>
                <a target="_blank" href="/public/SalonImages/salon5.jpg">
      <img src="/public/SalonImages/salon5.jpg" alt="salon5">
</a>
            </td>
            <td>
                <a target="_blank" href="/public/SalonImages/salon6.jpg">
      <img src="/public/SalonImages/salon6.jpg" alt="salon6">
</a></td>
        </tr>
    </table>
</div>