    <div id="login" class="animate form">
        <form  action="" autocomplete="on"> 
            <h2>Salon Sign Up</h2> 
                <div id="boxes">
                    <p> 
                        <label for="uname" class="uname" data-icon="u" > Your name </label>
                        <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                    </p>
                    <p> 
                        <label for="sname" class="sname" data-icon="s" > Salon name </label>
                        <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                    </p>
                    <p> 
                        <label for="addr" class="addr" data-icon="s" > Salon address </label>
                        <input id="addr" name="addr" required="required" type="text" placeholder="# Building number, Street, City"/>
                    </p>
                    <p> 
                        <label for="desc" class="desc" data-icon="u" > Description</label>
                        <input id="desc" name="desc" required="required" type="text" placeholder="Brief description"/>
                    </p>
                    <p> 
                        <label for="phone" class="pnhone" data-icon="u" > Phone number </label>
                        <input id="phone" name="phone" required="required" type="number" placeholder="+1 222 222 2222"/>
                    </p>
                    <p> 
                        <label for="email" class="email" data-icon="u" > Email</label>
                        <input id="email" name="email" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                    </p>
                    <p> 
                        <label for="password" class="youpasswd" data-icon="p"> Password </label>
                        <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                    </p>
                    <p> 
                        <label for="" class="youpasswd" data-icon="p">Confirm password </label>
                        <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="number" placeholder="eg. X8df!90EO"/>
                    </p>
                </div>
                    <p class="sign up button"> 
                        <input type="submit" value="Sign up"/> 
                    </p>
                    <p class="change_link">  
                        Already a member ?
                        <a href="#tologin" class="to_register"> Go and log in </a>
                    </p>
                </form>
            </div>
	<footer>
        This website is a project for CS 546 WS 2017 &copy Copyright 2017 Salon Portal Team
        <div id="right";>
        <a href="#">Contact Us</a>
        </div>
</footer>
