<header>
        <div id="salon_bar">
            <nav class="navbar navbar-inverse">
                <div id="tabs" class="container-fluid">
                    <ol class="nav navbar-nav">
                        <li  style="display:inline;"><a href="#">Sign Up</a></li>
                        <li style="display:inline;"><a href"#">Terms and Conditions</a></li>
                        <li  style="display:inline;"><a href="#">About</a></li>
                        <li  style="display:inline;"><a href="#">Contact Us</a></li>
                        <li class="active"  style="display:inline;"><a href="#">Home</a></li>
                    </ol>
                </div>
            </nav>
        </div>       
    </header>
    <div id="container_demo">
         <img src="logo.png" alt="logo">
    </div>
    <div id="search" class="animate form" style="margin:auto;">
            <p>
                <div id="boxes">
            <label for="search"><h3>Search Salon</h3></label>
            <input id="search" type="text" placeholder="Salon Name"/>  <input id="search" type="text" placeholder="Zip Code"/> 
            <input type="submit" value="SEARCH" /> 
            </div>
            </p>       
        </div>
    </p>  
</div>   
    <p>
            
            <div id="results">
                    <h3>Results</h3>
                <ul>
                    <li><a href="#">Scisors and Razors</a>
                    <ul>
                        <li>Rating: 2.3</li>
                        <li>Location: Hoboken</li>
                    </ul>
                    </li>
                    <br>
                    <li><a href="#">Under the Dryer</a>
                        <ul>
                                <li>Rating: 2.3</li>
                                <li>Location: Hoboken</li>
                            </ul>
                    </li>
                    <br>
                    <li><a href="#">Color Me Crazy</a>
                        <ul>
                                <li>Rating: 2.3</li>
                                <li>Location: Hoboken</li>
                            </ul>
                    </li>
                </ul>
            </div>
    </p>  
</div>

<footer>
        This website is a project for CS 546 WS 2017 &copy Copyright 2017 Salon Portal Team
        <div id="right";>
        <a href="#">Contact Us</a>
        </div>
</footer>
