<div class="search" class="animate form" style="margin:auto;">
    <p>
        <div class="boxes">
            <label for="search1">Search Salon</label>
            <input id="search1" type="text" placeholder="Salon Name" /> <input id="search2" type="text" placeholder="Zip Code"
            />
            <input type="submit" value="SEARCH" />
        </div>
</div>
<p>

    <div id="results">
        <h3>Results</h3>
        <ul>
            <li><a href="#">Scisors and Razors</a>
                <ul>
                    <li>Rating: 2.3</li>
                    <li>Location: Hoboken</li>
                </ul>
            </li>
            <li></li>
            <li><a href="#">Under the Dryer</a>
                <ul>
                    <li>Rating: 2.3</li>
                    <li>Location: Hoboken</li>
                </ul>
            </li>
            <li></li>
            <li><a href="#">Color Me Crazy</a>
                <ul>
                    <li>Rating: 2.3</li>
                    <li>Location: Hoboken</li>
                </ul>
            </li>
        </ul>
    </div>