
        <div id="salon_bar">
            <nav class="navbar navbar-inverse">
                <div id="tabs" class="container-fluid">
                    <ol class="nav navbar-nav">
                        <li  style="display:inline;"><a href="#">Sign Up</a></li>
                        <li style="display:inline;"><a href"#">Terms and Conditions</a></li>
                        <li  style="display:inline;"><a href="#">About</a></li>
                        <li  style="display:inline;"><a href="#">Contact Us</a></li>
                        <li class="active"  style="display:inline;"><a href="#">Home</a></li>
                    </ol>
                </div>
            </nav>
        </div>       
    </header>
    <div id="container_demo">
         <img src="logo.png" alt="logo">
    </div>
    <div id="container">
        <div id="left">
    <div id="stylist" class="animate form">
           <div id="stylistProfile">
          <a target="_blank" href="stylist1.jpeg">
  <img src="stylist1.jpeg" alt="salon1"> <h3>Name: Helen Amber</h3>
            <h3>Speciality: Haircut</h3>
            <h3>Rating: 3</h3>
              <h3>Reviews<h3>
          <div>

<div>
<p>Customer Name: Ronald Weasley</p>
<p>Review: The SMARTEST hair stylists and colorists in Hoboken.</p>
</div>

         <br>

<div>
<p>Customer Name: Hermione Granger</p>
<p>Review: I LOVE LOVE LOVE my new haircut and style!”</p>
</div>
         <br>

<div>
<p>Customer Name: Draco Malfoy</p>
<p>Review: This is a truly lovely salon.</p>
</div>

             </div>   
           </div>
    </div>
           </div>
    </div>   
        
