
     
   
    <div id="container">
        <div id="left">
    <div id="stylist" class="animate form">
           <div id="stylistProfile">
          <a target="_blank" href="/public/stylistImages/stylist1.jpeg/stylist1.jpeg">
  <img src="/public/stylistImages/stylist1.jpeg" alt="stylist11"> <h3>Name: {{firstName}} {{lastName}}</h3>
            <h3>Description: {{description}}</h3>
            <h3>Rating: {{rating}}</h3>
              <h3>Reviews<h3>
          <div>

<div>
<p>Customer Name: Ronald Weasley</p>
<p>Review: The SMARTEST hair stylists and colorists in Hoboken.</p>
</div>

         <br>

<div>
<p>Customer Name: Hermione Granger</p>
<p>Review: I LOVE LOVE LOVE my new haircut and style!”</p>
</div>
         <br>

<div>
<p>Customer Name: Draco Malfoy</p>
<p>Review: This is a truly lovely salon.</p>
</div>

             </div>   
           </div>
    </div>
           </div>
    </div>   
        
